@use "styles";

.header {
  background: styles.$primary;
  color: white;
  position: relative;

  .nav-link {
    color: white;

    &.active {
      border-bottom: 2px solid white;
    }
  }
}

.loader-container {

  position: absolute;
  height: 100%;
  background: black;
  opacity: 0.8;
  width: 100%;
  z-index: 99;
}
