<div class="py-2">
    <button (click)="navigateToCreateUser()" class="btn btn-primary">
        Create
    </button>
</div>

<div class="py-2">
    <button (click)="navigateToCardUsers()" class="btn btn-primary">
        Card
    </button>
    <button (click)="navigateToTableUsers()" class="btn btn-primary">
        Table
    </button>
</div>

<div class="container my-4">
    <div class="table">
        <th>name</th>
        <div *ngFor="let user of users" class="col-4">
            <app-user-card (click)="navigateToEditUser(user.id)" [user]="user"></app-user-card>
        </div>
    </div>
</div>

